* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --h1FontColor: #ffffff;
  --boardSize: 20em;
  --cellSize: calc(var(--boardSize) / 3);

  --bgColor: hsl(0, 0%, 7%);
  --navBgColor: hsl(240, 2%, 12%);
  --boderColor: #6bf8ff;
  --textColor: #d6d6d6;
  --headColor: white;
  --headClick: #7fffd4;
  --headOver: grey;
}

body {
  width: 100%;
  height: 90vh;

  font-family: sans-serif;
  color: var(--h1FontColor);
  background-color: var(--bgColor);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  border: 2px solid white;
  border-radius: 10px;
  border: 2px solid var(--boderColor);
  background-color: var(--navBgColor);
}

h1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.board {
  width: var(--boardSize);
  height: var(--boardSize);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 1rem;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);

  border: 2px solid var(--textColor);

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell.x::before,
.cell.x::after {
  content: "";
  width: calc(var(--cellSize) * 0.05);
  height: calc(var(--cellSize) * 0.5);
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  position: absolute;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before {
  content: "";
  width: calc(var(--cellSize) * 0.4);
  height: calc(var(--cellSize) * 0.4);
  border-radius: 50%;
  background-color: var(--navBgColor);
  position: absolute;
}

.cell.circle::after {
  content: "";
  width: calc(var(--cellSize) * 0.5);
  height: calc(var(--cellSize) * 0.5);
  border-radius: 50%;
  background-color: white;
}

.result {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: var(--navBgColor);

  width: var(--boardSize);
  height: calc(var(--boardSize) * 0.15);
  margin: 1rem;
  margin-top: 2rem;
}

.result h2 {
  text-align: center;
  margin: 9px;
}

button {
  font-family: inherit;
  border-radius: 10px;
  height: 2.5rem;
  margin: 2px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 5px;
  width: 120px;
}

.footer {
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  color: gray;
  bottom: 0;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.copyright {
  color: gray;
  text-decoration: none;
  letter-spacing: 0;
}
